/*
Recomendation about how we should start with our way to work with
css
1. Posicion
2. Box-Model
3. Typography
4. Visuals
5. Other stuff
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*
  Colors
  */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffff;
  --background: #e5e5e5;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  height: 334px; /*This motherfucker was the fuckin last problem*/
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

header img {
  justify-content: center;
  padding: 3rem;
}

.header--title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header--title-container h1 {
  text-align: center;
  color: var(--just-white);
  font-style: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
}

.header--title-container p {
  text-align: center;
  color: var(--soft-orange);
  font-size: 1.4rem;
  font-style: normal;
  padding-top: 2.4rem;
  padding-bottom: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.header--title-container .header--button {
  left: calc(50% - 118px);
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.1);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 18.23px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: var(--warm-black);
}

.main--exchange {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.main--exchange .main--exchange-bitcoinimage {
  width: 19.5rem;
  height: 19.5rem;
  background-image: url("./images/assetsBataBip/img/Bitcoin.svg");
  padding-top: 6rem;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main--exchange h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto;
  width: 88%;
  color: var(--warm-black);
}

.main--exchange p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #757575;
  padding-top: 2.4rem;
  width: 88%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.main--advantages {
  display: flex;
  flex-direction: column;
  background-color: var(--warm-black);
  height: auto;
  align-items: center;
  padding-bottom: 5rem;
}

.main--advantages-head {
  justify-content: center;
  text-align: center;
}

.main--advantages-head h4 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
  padding-left: 1.5rem;
  padding-right: 1.7rem;
  margin-top: 6.4rem;
}

.main--advantages-head p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.7rem;
  padding-bottom: 4rem;
}

.main--advantages-time {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 28.8rem;
  border-radius: 4px;
}

.main--advantages-time span {
  background-image: url("./images/assetsBataBip/icons/clock.svg");
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
}

.main--advantages-time #real-time-title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-left: 1.8rem;
  margin-top: 1.2rem;
}

.main--advantages-time p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--advantages-hiding {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 28.8rem;
  border-radius: 4px;
}

.main--advantages-hiding span {
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
  margin-bottom: 1.2rem;
  background-image: url("./images/assetsBataBip/icons/eye.svg");
}

.main--advantages-hiding #main--hiding_title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main--advantages-hiding p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--advantages-coins {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 28.8rem;
  border-radius: 4px;
}

.main--advantages-coins span {
  background-image: url("./images/assetsBataBip/icons/dollar-sign.svg");
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
  margin-bottom: 1.2rem;
}

.main--advantages-coins #main--coins_title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main--advantages-coins p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--advantages-information {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 28.8rem;
  border-radius: 4px;
}

.main--advantages-information span {
  background-image: url("./images/assetsBataBip/icons/clock.svg");
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
  margin-bottom: 1.2rem;
}

.main--advantages-information #main--information_title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main--advantages-information p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--imgback {
  display: flex;
  flex-direction: column;
}

.main--imgback span {
  background-image: url("./images/assetsBataBip/img/bitcoinbaby.png");
  width: 32rem;
  height: 38.7rem;
}

.main--imgback #main--imgback_title {
  position: absolute;
  left: calc(118px - 15%);
  bottom: calc(118px - 112%);
  font-weight: 700;
  font-style: normal;
  line-height: 2.6rem;
  font-size: 2.4rem;
  color: var(--just-white);
}

.main--plans {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
}

.main--plans h5 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  margin-top: 6rem;
  margin-left: 1.5rem;
  margin-right: 1.7rem;
}

.main--plans #main--plans_introduction {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #757575;
  margin-top: 2.3rem;
  margin-left: 1.5rem;
  margin-right: 1.7rem;
  margin-bottom: 3.5rem;
}

.main--plans-recomended {
  width: 19rem;
  background-color: var(--just-white);
  box-shadow: 0px, 4px, 8px rgba(89, 73, 30, 0.16rem);
  border-radius: 0.8rem;
  height: 24.7rem;
}

h6 {
  color: #000000;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  margin-top: 3.1rem;
}

.main--plans-recomended .main--plans-recomended_dllsignal {
  font-family: "Inter";
  position: absolute;
  bottom: -164.5%;
  left: 11.5rem;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.452rem;
}

.main--plans-recomended .main--plans-recomended_cost {
  font-family: "Inter";
  color: #000000;
  font-weight: 700;
  font-style: normal;
  font-size: 5.2rem;
  line-height: 6.293rem;
  position: absolute;
  bottom: -168.8%;
  left: 12.3rem;
}

.main--plans-recomended .main--plans-recomended_saving {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.452rem;
  position: absolute;
  bottom: -172%;
  text-align: center;
  margin-left: 6.5rem;
  margin-right: 6.5rem;
  left: 0.1rem;
  color: #757575;
}

#main--plans-recomended_tag {
  background-color: #f7931a;
  padding: 0.8rem;
  position: absolute;
  border-radius: 0.8rem;
  bottom: -157.7%;
  right: 11.9rem;
}

#main--plans-recomended_tag p {
  font-family: "Inter";
  color: var(--just-white);
  font-style: normal;
  size: 1.2rem;
  line-height: 1.452rem;
  text-align: center;
}
#main--plans-recomended_buttom {
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  background-color: var(--soft-orange);
  text-decoration: none;
  border-radius: 0.4rem;
  border: 2px solid #f7931a;
  bottom: -155rem;
  right: 8.4rem;
  height: 4.8rem;
  width: 15.1rem;
}

#main--plans-recomended_buttom p {
  color: var(--warm-black);
  font-weight: 700;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.823rem;
}

#main--plans-recomended_buttom span {
  background-image: url("./images/assetsBataBip/icons/orange-right-arrow.svg");
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  justify-content: flex-end;
}
