/*
Recomendation about how we should start with our way to work with
css
1. Posicion
2. Box-Model
3. Typography
4. Visuals
5. Other stuff
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*
  Colors
  */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffff;
  --background: #e5e5e5;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  height: 334px; /*This motherfucker was the fuckin last problem*/
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}

header img {
  justify-content: center;
  padding: 3rem;
}

.header--title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header--title-container h1 {
  text-align: center;
  color: var(--just-white);
  font-style: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 700;
}

.header--title-container p {
  text-align: center;
  color: var(--soft-orange);
  font-size: 1.4rem;
  font-style: normal;
  padding-top: 2.4rem;
  padding-bottom: 1rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.header--title-container .header--button {
  left: calc(50% - 118px);
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  text-decoration: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.1);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 18.23px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: var(--warm-black);
}

.main--exchange {
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.main--exchange .main--exchange-bitcoinimage {
  width: 19.5rem;
  height: 19.5rem;
  background-image: url("./images/assetsBataBip/img/Bitcoin.svg");
  padding-top: 6rem;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main--exchange h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding-top: 2rem;
  margin: 0 auto;
  width: 88%;
  color: var(--warm-black);
}

.main--exchange p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #757575;
  padding-top: 2.4rem;
  width: 88%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.main-currency-table {
  width: 70%;
  min-width: 23.5rem;
  max-width: 50rem;
  height: 36rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.batataicon {
  background-image: url("./images/assetsBataBip/icons/batata.svg");
  width: 41px;
  height: 25px;
  position: absolute;
  top: -12px;
}

.main--advantages {
  display: flex;
  flex-direction: column;
  background-color: var(--warm-black);
  height: auto;
  align-items: center;
  padding-bottom: 5rem;
  position: relative;
}

.main--advantages-head {
  justify-content: center;
  text-align: center;
}

.main--advantages-head h4 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
  padding-left: 1.5rem;
  padding-right: 1.7rem;
  margin-top: 6.4rem;
}

.main--advantages-head p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.7rem;
  padding-bottom: 4rem;
}

.main--advantages-time {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 400px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.main--advantages-time span {
  background-image: url("./images/assetsBataBip/icons/clock.svg");
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
}

.main--advantages-time #real-time-title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-left: 1.8rem;
  margin-top: 1.2rem;
}

.main--advantages-time p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--advantages-hiding {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 400px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.main--advantages-hiding span {
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
  margin-bottom: 1.2rem;
  background-image: url("./images/assetsBataBip/icons/eye.svg");
}

.main--advantages-hiding #main--hiding_title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main--advantages-hiding p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--advantages-coins {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 400px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.main--advantages-coins span {
  background-image: url("./images/assetsBataBip/icons/dollar-sign.svg");
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
  margin-bottom: 1.2rem;
}

.main--advantages-coins #main--coins_title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main--advantages-coins p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--advantages-information {
  display: flex;
  flex-direction: column;
  background-color: #282623;
  height: auto;
  width: 90%;
  margin: 0 auto;
  min-width: 288px;
  max-width: 400px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.main--advantages-information span {
  background-image: url("./images/assetsBataBip/icons/clock.svg");
  align-self: flex-start;
  width: 2.4rem;
  height: 2.4rem;
  margin-top: 1.6rem;
  margin-left: 1.8rem;
  margin-bottom: 1.2rem;
}

.main--advantages-information #main--information_title {
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
}

.main--advantages-information p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
  margin-left: 1.8rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.main--imgback {
  display: flex;
  flex-direction: column;
}

.main--imgback span {
  background-image: url("./images/assetsBataBip/img/bitcoinbaby2x.jpg");
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main--imgback #main--imgback_title {
  font-weight: 700;
  font-style: normal;
  line-height: 2.6rem;
  font-size: 2.4rem;
  color: var(--just-white);
  text-align: center;
  margin-top: 60px;
}

/*Start all plans, take a lot of care about how it works
to more future projects*/
.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--card {
  position: relative;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomendado {
  position: absolute;
  width: 120px;
  height: 31px;
  left: calc(50% - 60px);
  top: -15px;
  font-size: 1.2rem;
  padding: 6px;
  border-radius: 8px;
  color: var(--just-white);

  background-color: var(--bitcoin-orange);
}

.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}

.plan-card--price span {
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  top: 35px;
  left: calc(50% - 40px);
}
.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
}

.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  color: black;
}

.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: "DM Sans, sans-serif";
}

.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  background-image: url("./images/assetsBataBip/icons/orange-right-arrow.svg");
}

/*End of PLANS*/
.main--QandA {
  background-color: #e5e5e5;
  height: auto;
}

.main--QandA #main--QandA_title {
  font-weight: 700;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  padding: 0 1.6rem;
}

footer {
  background-color: #f7931a;
  height: auto;
  width: auto;
  max-width: 900px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.footer--logo {
  margin-top: 3.5rem;
  margin-left: 3rem;
}

.footer--logo span {
  margin-top: 1.5rem;
  margin-left: 1.1rem;
}

footer .footer--logo p {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-align: center;
  font-style: normal;
  color: var(--soft-orange);
}

.footer--list {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer--list a {
  text-decoration: none;
  color: var(--just-white);
  font-weight: 500;
  font-style: normal;
  line-height: 1.8rem;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
